body {
    margin: 0;
    padding: 0;
    background-color: #10c6de;
}

.intro {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    margin-left: 20px;
    color: #000000;
}

.intro1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    margin-left: 20px;
    margin-top: 70px;
    color: #000000;
}

.para {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    font-weight: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    color: #000000;
}

.clr-btn {
    border: 2px solid #000000;
    background-color: #10c6de;
    color: #141314;
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.clr-btn:hover {
    border: 2px solid #000000;
    background-color: #3b3a3b;
    color: #10c6de;
    margin-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
}